body {
    margin: 0;
    /*background: radial-gradient(*/
    /*        circle,*/
    /*        rgba(175, 196, 174, 1) 0%,*/
    /*        rgba(104, 204, 191, 1) 89%,*/
    /*        rgba(94, 191, 178, 1) 100%*/
    /*);*/
    background: #8d99ae;
}

#root {
    padding: 3rem;
    text-allign: center;
}

#root h1 {
    font-family: 'Press Start 2P', Consolas, monospace;
    color: white;
}

#root canvas {
    display: block;
    margin: 0 auto;
}

#content {
    height: 200px;
    width: 400px;
    background: lightgreen ;
    margin: 100px auto 0;
}

.classh2 {
    color: white;
    font-size: 25px;
    font-family: 'Press Start 2P', Consolas, monospace;
    margin-left: 480px;
}